* {
  box-sizing: border-box;
}

body{
	font-family: Source Sans Pro, sans-serif;
	line-height: 1.5;
margin: 0;
}


h1,h2,h3 {
	text-transform: uppercase;
	front-weight:300;
	
}

header{text-align: center;
	color:white;
background-color: green;
background-image:url(../images/header-bg.jpg);
background-repeat: no-repeat;
padding:30px;
margin-bottom: 30px;


/*background-image: green url(../image/header-bg.jpg)no-repeat;
background-size: cover;
padding:30px;
*/


}


header a, footer a: 
{color: white;
	text-decoration: none;
	margin:10px;
	padding-bottom: 10px;
	padding-bottom: 10px;


	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 30px;
	padding-left: 40px;

	padding:30px 0;

}




a: hover { border-bottom: 1px solid white;
}


header li
{display: inline;
}

.container {
	border: 3px dotted red;
	width: 1000px;
	margin: 0 auto;

}

.recipes{
	width:60%;
	float: left;
	margin-bottom: 30px;
}

.sidebar {
width : 40%;
float: right;
padding: 30px;
background: lightgreen url(../images/sidebar-bg.png);
}


.cookies {
	float: left;
	width: 50%;
	padding: 0 20px;
}


.cookies img{
	max-width: 100%;
} 

footer{
	clear: both;
	text-align: center;
	background: black;
	color:white;
	padding: 30px;
}



@media (max-width: 1000px) {
	.sidebar { 
		display: none;
	 }


.recipes, .container; {
	width: 100px;
}

}


@media (max-width: 600px) {
.cookies {
	width: 100px;
	float: none;
}

}





